*{
  color: #263238 !important;
}
.jumbotron{
  background: #7CD3A0 !important;
  background-size: cover;
  text-align: center;
}

.jumbotron .display-4{  
  margin-top: 90px;
  font-weight: 500;
  font-size: 60px;
  margin-bottom: 30px;
  color: #263238;
}

section{
  margin-top: 50px;
}

#features{
  padding: 0 50px;
}

.space-bottom{
  margin-bottom: 150px;
}

.text-justify{
  line-height: 35px;
}

#content{
  background-color: #EBEBE5;
  padding: 50px 0;

}

.menu-apl{
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

span{
  background-color:#7CD3A0 ;
  color: #10616a !important;
  padding: 10px 15px;
  border-radius: 50%;
  margin-right: 10px;
}


@media (min-width: 992px) { 
  .jumbotron{
    
  }
  .header-img{
    width: 450px;
    height: 450px;
  }
}