<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>Klasifikasi Jenis Pasal UU ITE</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="stylesheet" href="../static/css/font-awesome.css" />
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" />
  </head>

  <body>
   <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-lighting">
        <a class="navbar-brand color-font" href="#">Stemmer Performance</a>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5 text-center big-font roboto color-font padding-tb-50">Penerapan Text Mining Untuk Klasifikasi Jenis Pasal UU ITE Meggunakan Algoritma Naive Bayes</i></h1><br>
      <div class="row pd-10 margin-0 text-center">
        <div class="col text-center">
          <a href="http://localhost:5000/training">
            <button type="button" class="btn transparent rounded-circle pl250x250">
              <img src="../static/images/summarization.png" width="50%"/>
            </button>
          </a>
          <p class="padding-t10 color-p">
            Training Klasifikasi
          </p>
        </div>
        <div class="col text-center">
          <a href="http://localhost:5000/uji_dokumen">
            <button type="button" class="btn transparent rounded-circle pl250x250">
               <img src="../static/images/identification.png" width="50%"/>
            </button>
          </a>
          <p class="padding-t10 color-p">
            Uji Dokumen
          </p>
        </div>
      
      </div>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
